<!DOCTYPE HTML>
<html>
<head>
    <title>KeyNote</title>
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <style>
    #set{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        text-align: center;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
    }
    </style>
    <script type="text/javascript">
        function check_validity(){
            document.editform.submit();
        }
        function del_confirm(noteid){
            var r=confirm("Sure to delete it?");
            if(r){
                location.href="/delete/"+noteid;
            }
        }
    </script>
</head>
<body>
    <div id="set" class="container">
    <form id="editform" name="editform" action="/update/{{data.id}}" method="POST">
        <fieldset>
            <legend><h3>edit</h3></legend>
            <input class="input-xlarge" type="text" placeholder="title" id="title" name="title" value="{{data.title}}"><br/>
            <input class="input-xlarge" type="text" placeholder="the url" id="link" name="link" value="{{data.link}}"><br/>
            <span class="help-block"><h4>use ',' or blank to seperate tags</h4></span>
            <input class="input-xlarge" type="text" placeholder="tags" id="tag" name="tag" value="{{data.tag}}"><br />
            <textarea class="input-xxlarge" placeholder="note can be omitted." rows="20" id="note" name="note">{{data.note}}</textarea><br/>
            <div class="row">
                <button type="button" class="btn" onclick="check_validity()">Update</button>
                <button type="button" class="btn btn-danger" onclick="del_confirm({{data.id}})">Delete</button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='jquery-1.8.3.min.js')}}"></script>
</body>
</html>
