                {% for row in data %}
                <div class="row">
                    <div class="span8 well well-small" >
                        <blockquote>
                            {% if row.link != "" %}
                            <h3><a href="{{row.link}}" target="_blank">{{row.title}}</a></h3>
                            {% else %}
                            <h3>{{row.title}}</h3>
                            {% endif %}

                            {% set tags = row.tags.split(',') %}
                            <small>
                            {% if tags[0] != "" %}
                                <a href="/marknote/tags/{{tags[0]}}">{{tags[0]}}</a>
                            {% endif %}
                            {% for tag in tags[1:] %}
                                {% if tag != '' %}
                                , <a href="/marknote/tags/{{tag}}">{{tag}}</a>
                                {% endif %}
                            {% endfor %}
                            </small>
                        </blockquote>
                        {% set note = row.note.split("\n") %}
                        {% if note[0] != "" %}
                        <div id="collapse{{row.id}}" class="tohide">
                            {% set islink = False %}
                            {% for a in note %}
                                {% if '<link>' in a: %}
                                    {% set islink = True %}
                                {% elif '</link>' in a: %}
                                    {% set islink = False %}
                                {% else : %}
                                    {% if islink : %}
                                        {% if '|||' in a : %}
                                            <a href="{{a[a.find('http'):]}}" target="_blank" >{{a[0:a.find('|||')]}}</a><br />
                                        {% else %}
                                            <a href="{{a}}" target="_blank" >link</a><br />
                                        {% endif %}
                                    {% else %}
                                        {{a}}<br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <h5><img src="{{url_for('static',filename='more.png')}}" onclick="unfold('#collapse{{row.id}}')" /></h5>
                    </div>
                    <div>
                        <h5><a href="/marknote/edit_page/{{row.id}}"><img src="{{url_for('static',filename='edit.png')}}" /></a></h5>
                    </div>
                    <div>
                        <h5><img src="{{url_for('static',filename='trash.png')}}" onclick="del_confirm({{row.id}})" /></h5>
                    </div>
                </div>
                {% endfor %}
