<!DOCTYPE HTML>
<html>
<head>
    <title>MarkNote</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{url_for('static',filename='images/favicon.ico')}}" />
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <style>
        div#pageheader{
            text-align: center;
        }
        div#main{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script type="text/javascript" src="{{url_for('static',filename='jquery-1.10.2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
        var islink = false;

        $(document).ready(function(){
            $('.tohide').hide();
        });

        function unfold(collid){
            if(islink){
                islink = false;
                return;
            }
            $(collid).toggle(200);
        }
        
        function del_confirm(noteid){
            var r=confirm("Sure to delete it?");
            if(r){
                location.href="/marknote/delete/"+noteid;
            }
        }

        function click_link(){
            islink = true;
        }
    </script>
</head>
<body>
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '635660229802178', // App ID
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });

            FB.Event.subscribe('auth.authResponseChange', function(response) {
                if(response.status === 'connected') {
                    FB.api('/me');
                }
                else{
                    FB.login();
                }
            });
        };

        // Load the SDK asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    <!-- Twitter -->
    <script>
        (function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src="https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs"));
    </script>

    <div class="page-header" id="pageheader" >
        <h1>search: {{term}} options| {{options}}</h1>
    </div>
    <div class="container-fluid">
        <div class="row" id="main">
            <div>
                <a href="/marknote/time/1"><img src="{{url_for('static',filename='images/home.png')}}" /></a>
            </div>
            <br />
            <div class="span2">
                <button type="button" class="btn btn-primary btn-large" onclick="location.href='/marknote/add_page'">Add</button>
            </div>
            <div class="span8">
                <div>
                    <button class="btn" onclick="history.back();">Back</button>
                </div>
                {% for row in data %}
                <div class="row">
                    <div class="span7 well well-small" >
                        <blockquote onclick="unfold('#collapse{{row.id}}');">
                            {% if row.link != "" %}
                            <h3><a href="{{row.link}}" onclick="click_link();" target="_blank">{{row.title}}</a></h3>
                            {% else %}
                            <h3>{{row.title}}</h3>
                            {% endif %}

                            {% set tags = row.tags.split(',') %}
                            <small>
                            {% for tag in tags[:-1] %}
                                {% if tag == '' %}{% continue %}{% endif %}
                                <a href="/marknote/tags/{{tag}}" onclick="click_link();">{{tag}}</a>,
                            {% endfor %}
                                <a href="/marknote/tags/{{tags[-1]}}" onclick="click_link();">{{tags[-1]}}</a>
                            </small>
                        </blockquote>
                        {% set note = row.note.split("\n") %}
                        {% if note[0] != "" %}
                        <div id="collapse{{row.id}}" class="tohide">
                            {% set islink = False %}
                            {% for a in note %}
                                {% if '<link>' in a %}
                                    {% set islink = True %}
                                {% elif '</link>' in a %}
                                    {% set islink = False %}
                                {% else %}
                                    {% if islink %}
                                        {% if '|||' in a %}
                                            <a href="{{a[a.find('http'):]}}" target="_blank" >{{a[0:a.find('|||')]}}</a><br />
                                        {% else %}
                                            <a href="{{a}}" target="_blank" >link</a><br />
                                        {% endif %}
                                    {% else %}
                                        {{a}}<br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row-span1">
                        <div>
                            <a href="#" id="share{{row.id}}"
                               onclick="return false;"
                               data-toggle="popover" data-placement="right" data-html="true"
                               data-content="<a href=&quot;#&quot; onclick=&quot;window.open(
                                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{row.link}}'), 
                                    'facebook-share-dialog', 'width=626,height=436'); return false;&quot;>
                                    <img src=&quot;{{url_for('static',filename='images/facebook.png')}}&quot; /></a>
                                    <a href=&quot;#&quot; onclick=&quot;window.open(
                                    'https://twitter.com/intent/tweet?url='+encodeURIComponent('{{row.link}}'),
                                    'twitter-tweet', 'width=640,height=257');return false;&quot;
                                    class=&quot;twitter-share-button&quot;>
                                    <img src=&quot;{{url_for('static',filename='images/twitter.png')}}&quot; /></a>">
                            <img src="{{url_for('static',filename='images/share.png')}}"/></a>
                            <script type="text/javascript">$("#share{{row.id}}").popover();</script>
                        </div>
                        <div>
                            <h5><a href="/marknote/edit_page/{{row.id}}?next={{current_url}}">
                            <img src="{{url_for('static',filename='images/edit.png')}}" /></a></h5>
                        </div>
                        <div>
                            <a href="#" onclick="del_confirm({{row.id}}); return false;"><img src="{{url_for('static',filename='images/trash.png')}}" /></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="span4">
                <div>
                    <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
                </div>
                <br />
                <div>
                    <form action="/marknote/search" method="GET">
                        <input type="text" placeholder="search" id="term" name="term" value="{{text}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
