<!DOCTYPE HTML>
<html>
<head>
    <title>KeyNote</title>
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <style>
        div#pageheader{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="page-header" id="pageheader" >
            <h1>{{tag}}</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="span4">
                <button type="button" class="btn btn-primary btn-large" onclick="location.href='/add_page'">Add</button>
            </div>
            <div class="span10">
                <div>
                    <button class="btn" onclick="location.href='/marknote/time/1'">Back</button>
                </div>
                {% for row in data %}
                <div class="row">
                    <div class="span7">
                        <blockquote>
                            {% if row.link != "" %}
                                <h3><a href="{{row.link}}">{{row.title}}</a></h3>
                            {% else %}
                                <h3>{{row.title}}</h3>
                            {% endif %}

                            {% set tags = row.tag.split(',') %}
                            {% if tags[0] != "" %}
                                <a href="/tags/{{tags[0]}}">{{tags[0]}}</a>
                                {% for tag in tags[1:] %}
                                    {% if tag != '' %}
                                    <a href="/tags/{{tag}}">,{{tag}}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </blockquote>
                    </div>
                    <div class="span1">
                        <h5><a href="/edit/{{row.id}}"><img src="{{url_for('static',filename='editicon.png')}}" /></a></h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='jquery-1.8.3.min.js')}}"></script>
</body>
</html>
